.banner-container {
  width: 100%;
  position: relative;
  z-index: 1;
}

.infinite-scroll-wrapper {
  display: flex;
  width: 200%;
  animation: scrollRight 210s linear infinite;
}

.infinite-scroll-image {
  flex: 1;
  width: 50%;
}

.bird-wrapper {
  animation: scrollLeft 10s linear infinite; /* Adjust duration as needed */
  width: 100%;
  position: absolute;
  top: 5.5rem;
  right: 0; /* Adjust the initial left position as needed */
  z-index: 1;
}

.flying-bird {
  height: 1.2rem;
  z-index: 1;
  position: absolute;
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
