.navbar-container {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  justify-content: space-evenly;
  align-items: center; */
  height: 12rem; /* Adjust the height as needed */
}

@keyframes fadeInOutOpacity {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-out-opacity {
  animation: fadeInOutOpacity 2000ms ease-in-out;
}

@keyframes fadeInOutTextColor {
  0% {
    color: logo-green;
  }
  20% {
    color: rgb(204, 252, 188);
  }
  80% {
    color: rgb(204, 252, 188);
  }
  100% {
    color: logo-green;
  }
}

.fade-in-out-text-color {
  animation: fadeInOutTextColor 2000ms ease-in-out;
}
