#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  font-family: "Pixel7", "sans-serif";
  color: rgb(40, 40, 40);

  /* Pixel Border Colors: */

  --blue1: lightblue; /* Inner background color */
  --blue2: rgb(191, 215, 223); /* Inner background color */
  --green1: rgb(176, 223, 164);
  --green2: #b6d7a2;
  --green3: rgb(164, 208, 155);
  --pixel-border: black; /* Inner border color: */
  --pixel-border-2: white; /* Middle border color: */
  --pixel-border-3: var(--pixel-border); /* Outer border color */
  --pixel: 0.125rem; /* Pixel size */

  /* Button 1 Styling: */

  --button-background: #92cd41;
  --sec-button-background: #69b934;
  --shadow-width: 3px;
  --shadow-color: #53a33b;
  --outline-width: 2.5px;

  --alt-button-background: #f7d51d;
  --alt-sec-button-background: #f2c409;
  --alt-shadow-color: #e59400;

  --reset-button-background: #92cd41;
  --reset-sec-button-background: #69b934;
  --reset-shadow-color: #53a33b;
  --step: 4px;

  /* Button 2 Styling: */

  --button_padding: 1em;
  --text_stroke: 0.125em;
  --border_width: 0.17rem;

  --border_color: #10141f;
  --text_color: rgb(251, 251, 239);

  --font: "Pixel7", display;

  --button_height: 2.3rem;

  /* Extra colors: */

  --greeeen: rgb(45, 253, 45);
  --brown1: #e6c099;
  --brown2: #be8662;
  --brown3: #7b5035;
  --skyblue: #8fdafc;
}
