@font-face {
  font-family: "VCR Mono";
  src: url("/assets/fonts/vcr_mono.ttf") format("truetype");
}
@font-face {
  font-family: "Retro Mono";
  src: url("/assets/fonts/retro_mono.ttf") format("truetype");
}
@font-face {
  font-family: "Retro Arcade";
  src: url("/assets/fonts/retro_arcade.ttf") format("truetype");
}
@font-face {
  font-family: "Retro Thick";
  src: url("/assets/fonts/retro_thick.ttf") format("truetype");
}
@font-face {
  font-family: "Pixel7";
  src: url("/assets/fonts/pixel7.ttf") format("truetype");
}
@font-face {
  font-family: "Pixeboy";
  src: url("/assets/fonts/pixeboy.ttf") format("truetype");
}
@font-face {
  font-family: "SV Thin";
  src: url("/assets/fonts/sv_thin.ttf") format("truetype");
}
@font-face {
  font-family: "SV Bold";
  src: url("/assets/fonts/sv_bold.ttf") format("truetype");
}
@font-face {
  font-family: "Press Start";
  src: url("/assets/fonts/press_start_2p.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
