/* .select-input {
  margin: 0.5rem 0;
  overflow-x: hidden;
  flex: 1;
  width: 25rem;
} */

.bb-button {
  border: double green 4px;
  border-radius: 6px;
  padding: 6px;
  font-size: 1.2rem;
  width: 10rem;
  margin: 1rem;
}

.upload-input {
  margin: 0.5rem 0;
}

/* Add this to your global CSS or stylesheet */
@keyframes reverseOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in-out-opacity {
  animation: fade-in-out-opacity 1s ease-in-out;
}

.reverse-opacity {
  animation: reverseOpacity 1s ease-in-out;
}
