@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

// Commodore 64 palette in original palette order
$c64Black: #000;
$c64White: #fff;
$c64Red: #68372b;
$c64Cyan: #70a4b2;
$c64Purple: #6f3d86;
$c64Green: #588d43;
$c64Blue: #352879;
$c64Yellow: #b8c76f;
$c64Orange: #6f4f25;
$c64Brown: #433900;
$c64LightRed: #9a6759;
$c64DarkGrey: #444444;
$c64Grey: #6c6c6c;
$c64LightGreen: #9ad284;
$c64LightBlue: #6c5eb5;
$c64LightGrey: #959595;

::selection {
  background-color: $c64Cyan;
  color: $c64Blue;
}

// html {
//   background: $c64Grey;
//   font-family: "Press Start 2P", monospace;
//   // browser default size to 8px
//   font-size: 50%;
// }

div {
  //   background: $c64White;
  //   color: $c64Black;
  //   font-size: 2em;

  //   line-height: 1.25;
  //   margin-bottom: 0.5em !important;
  //   margin-top: 0.5em !important;
  // text-transform: uppercase;
}

.border-step1 {
  border-style: solid;
  border-width: 0.125em 0;
  margin: 0 0.125em;
  padding: 0.5em;
  position: relative;
  z-index: 1;

  &:before {
    border: inherit;
    border-width: 0 0.125em;
    content: "";
    height: 100%;
    left: -0.125em;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: -0.125em;
    z-index: -1;
  }
}

.border-step2 {
  border-style: solid;
  border-width: 0.125em 0;
  margin: 0 0.25em;
  padding: 0.5em 0.375em;
  position: relative;
  z-index: 1;

  &:before {
    background-color: inherit;
    border: inherit;
    border-width: 0 0.125em;
    bottom: 0.125em;
    content: "";
    left: -0.25em;
    pointer-events: none;
    position: absolute;
    top: 0.125em;
    right: -0.25em;
    z-index: -1;
  }

  &:after {
    border: inherit;
    border-width: 0 0.125em;
    bottom: 0;
    content: "";
    left: -0.125em;
    position: absolute;
    top: 0;
    right: -0.125em;
    z-index: -2;
  }
}

.border-step3 {
  border-style: solid;
  border-width: 0.125em 0;
  box-shadow: -0.25em 0 0 -0.125em, 0.25em 0 0 -0.125em;
  margin: 0 0.375em;
  padding: 0.5em 0.25em;
  position: relative;
  z-index: 1;

  &:before {
    background-color: inherit;
    border: inherit;
    border-width: 0 0.125em;
    bottom: 0.25em;
    content: "";
    left: -0.375em;
    pointer-events: none;
    position: absolute;
    top: 0.25em;
    right: -0.375em;
    z-index: -1;
  }

  &:after {
    background: inherit;
    border: inherit;
    border-width: 0 0.125em;
    bottom: 0.125em;
    content: "";
    left: -0.25em;
    position: absolute;
    top: 0.125em;
    right: -0.25em;
    z-index: -2;
  }
}

.border-step4 {
  border-style: solid;
  border-width: 0.125em 0;
  box-shadow: -0.375em 0 0 -0.125em, 0.375em 0 0 -0.125em;
  margin: 0 0.5em;
  padding: 0.5em 0.125em;
  position: relative;
  z-index: 1;
  width: 8rem;
  height: 10rem;

  &:before {
    background-color: inherit;
    // background-size: cover;
    border: inherit;
    border-width: 0 0.125em;
    bottom: 0.375em;
    content: "";
    left: -0.5em;
    pointer-events: none;
    position: absolute;
    top: 0.375em;
    right: -0.5em;
    z-index: 0;
  }

  &:after {
    background-color: inherit;
    // background-size: cover;
    border: inherit;
    border-width: 0 0.125em;
    bottom: 0.125em;
    content: "";
    left: -0.375em;
    position: absolute;
    top: 0.125em;
    right: -0.375em;
    z-index: -1;
  }
}

/*
* SIZE
*/
#px1:checked ~ div {
  font-size: 1em; // 8px = 1px border
}

#px2:checked ~ div {
  font-size: 2em; // 16px = 2px border
}

#px3:checked ~ div {
  font-size: 3em; // 24px = 3px border
}

#px4:checked ~ div {
  font-size: 4em; // 32px = 4px border
}

#px5:checked ~ div {
  font-size: 5em; // 40px = 5px border
}

#px6:checked ~ div {
  font-size: 6em; // 48px = 6px border
}

/*
* COLOR
*/
#color1:checked ~ div {
  background-color: #fff;
  color: #000;
}

#color2:checked ~ div {
  background-color: $c64LightBlue;
  color: $c64Blue;
}

#color3:checked ~ div {
  background-color: $c64LightRed;
  color: $c64Red;
}

#color4:checked ~ div {
  background-color: $c64LightGrey;
  color: $c64DarkGrey;
}
