.pixel-border-blue1 {
  background: var(--blue1);
  box-shadow:
      
    /* Inner Background Color */ 0 calc(var(--pixel) * -3) 0
      calc(var(--pixel) * -1) var(--blue1),
    0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--blue1),
    0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--blue1),
    0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--blue1),
    0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--blue1),
    0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--blue1),
    0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--blue1),
    0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--blue1),
    /* Pixel Border Layer 1 */ calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
    var(--pixel) 0 0 0 var(--pixel-border),
    0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
    0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
    0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
    0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
    0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
    0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
    0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
    0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
    0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
    0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
    /* Pixel Border Layer 2 */ calc(var(--pixel) * -2) 0 0 0
      var(--pixel-border-2),
    calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
    0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2),
    0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
    0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
    0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
    0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
    0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
    0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
    0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
    0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
    0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
    0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
    0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
    /* Border Layer 3: --pixel-border-3 */ calc(var(--pixel) * -3) 0 0 0
      var(--pixel-border-3),
    calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
    0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
    0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
    0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
    0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
    0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
    0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
    0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
    0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
    0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
    0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
    0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
    0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3),
    0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
}
.pixel-border-blue2 {
  background: var(--blue2);
  box-shadow:
      
    /* Inner Background Color */ 0 calc(var(--pixel) * -3) 0
      calc(var(--pixel) * -1) var(--blue2),
    0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--blue2),
    0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--blue2),
    0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--blue2),
    0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--blue2),
    0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--blue2),
    0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--blue2),
    0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--blue2),
    /* Pixel Border Layer 1 */ calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
    var(--pixel) 0 0 0 var(--pixel-border),
    0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
    0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
    0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
    0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
    0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
    0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
    0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
    0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
    0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
    0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
    /* Pixel Border Layer 2 */ calc(var(--pixel) * -2) 0 0 0
      var(--pixel-border-2),
    calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
    0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2),
    0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
    0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
    0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
    0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
    0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
    0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
    0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
    0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
    0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
    0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
    0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
    /* Border Layer 3: --pixel-border-3 */ calc(var(--pixel) * -3) 0 0 0
      var(--pixel-border-3),
    calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
    0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
    0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
    0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
    0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
    0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
    0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
    0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
    0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
    0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
    0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
    0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
    0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3),
    0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
}
.pixel-border-green1 {
  background: var(--green1);
  box-shadow:
      
    /* Inner Background Color */ 0 calc(var(--pixel) * -3) 0
      calc(var(--pixel) * -1) var(--green1),
    0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--green1),
    0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--green1),
    0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--green1),
    0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--green1),
    0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--green1),
    0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--green1),
    0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--green1),
    /* Pixel Border Layer 1 */ calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
    var(--pixel) 0 0 0 var(--pixel-border),
    0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
    0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
    0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
    0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
    0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
    0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
    0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
    0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
    0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
    0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
    /* Pixel Border Layer 2 */ calc(var(--pixel) * -2) 0 0 0
      var(--pixel-border-2),
    calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
    0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2),
    0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
    0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
    0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
    0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
    0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
    0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
    0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
    0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
    0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
    0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
    0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
    /* Border Layer 3: --pixel-border-3 */ calc(var(--pixel) * -3) 0 0 0
      var(--pixel-border-3),
    calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
    0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
    0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
    0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
    0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
    0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
    0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
    0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
    0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
    0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
    0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
    0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
    0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3),
    0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
}
.pixel-border-green2 {
  background: var(--green2);
  box-shadow:
      
    /* Inner Background Color */ 0 calc(var(--pixel) * -3) 0
      calc(var(--pixel) * -1) var(--green2),
    0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--green2),
    0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--green2),
    0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--green2),
    0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--green2),
    0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--green2),
    0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--green2),
    0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--green2),
    /* Pixel Border Layer 1 */ calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
    var(--pixel) 0 0 0 var(--pixel-border),
    0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
    0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
    0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
    0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
    0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
    0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
    0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
    0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
    0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
    0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
    /* Pixel Border Layer 2 */ calc(var(--pixel) * -2) 0 0 0
      var(--pixel-border-2),
    calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
    0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2),
    0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
    0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
    0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
    0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
    0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
    0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
    0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
    0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
    0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
    0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
    0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
    /* Border Layer 3: --pixel-border-3 */ calc(var(--pixel) * -3) 0 0 0
      var(--pixel-border-3),
    calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
    0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
    0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
    0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
    0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
    0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
    0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
    0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
    0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
    0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
    0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
    0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
    0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3),
    0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
}

.eightbit-btn {
  background: var(--button-background);
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 10px;
  padding: 1px 7px;
  font-family: "Pixel7";
  text-decoration: none;
  color: rgb(40, 40, 40);
  box-shadow: inset calc(-1 * var(--shadow-width))
    calc(-1 * var(--shadow-width)) 0 0 var(--shadow-color);

  /* background: var(--reset-button-background);
  box-shadow: inset (-var(--shadow-width)) (-var(--shadow-width)) 0px 0px
    var(--reset-shadow-color); */

  /* &:active {
    box-shadow: inset var(--shadow-width) var(--shadow-width) 0px 0px
      var(--shadow-color);
  } */

  /* &:hover,
  &:focus {
    background: var(--reset-sec-button-background);
    box-shadow: inset (-calc(var(--shadow-width) * 1.5))
      (-calc(var(--shadow-width) * 1.5)) 0px 0px var(--reset-shadow-color);
  } */

  /* &:active {
    box-shadow: inset var(--shadow-width) var(--shadow-width) 0px 0px
      var(--reset-shadow-color);
  } */
}

.eightbit-btn:hover,
.eightbit-btn:focus {
  /* background: var(--sec-button-background); */
  /* box-shadow: inset (-calc(var(--shadow-width) * 1.5))
      (-calc(var(--shadow-width) * 1.5)) 0px 0px var(--shadow-color); */
  color: var(--text_color);
}

.eightbit-btn:before,
.eightbit-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn:before {
  top: calc(-1 * var(--outline-width));
  left: 0;
  border-top: var(--outline-width) rgb(40, 40, 40) solid;
  border-bottom: var(--outline-width) rgb(40, 40, 40) solid;
}
.eightbit-btn:after {
  left: calc(-1 * var(--outline-width));
  top: 0;
  border-left: var(--outline-width) rgb(40, 40, 40) solid;
  border-right: var(--outline-width) rgb(40, 40, 40) solid;
}

/* &--proceed {
  background: var(--alt-button-background);
  box-shadow: inset (var(--shadow-width)) (var(--shadow-width)) 0px 0px
    var(--alt-shadow-color);

  &:hover,
  &:focus {
    background: var(--alt-sec-button-background);
    box-shadow: inset (-calc(var(--shadow-width) * 1.5))
      (-calc(var(--shadow-width) * 1.5)) 0px 0px var(--alt-shadow-color);
  }

  &:active {
    box-shadow: inset var(--shadow-width) var(--shadow-width) 0px 0px
      var(--alt-shadow-color);
  }
} */

* {
  box-sizing: content-box;
}

.red {
  --button_background: #d85858;
  --button_dark_shadow: #8e2e2e;
  --button_light_shadow: #edaaaa;
}
.brown {
  --button_background: #be8662;
  --button_dark_shadow: #7b5035;
  --button_light_shadow: #e6c099;
}

.blue {
  --button_background: #4f8fba;
  --button_dark_shadow: #39537f;
  --button_light_shadow: #a4dddb;
}

.green {
  --button_background: #75a743;
  --button_dark_shadow: #2d6136;
  --button_light_shadow: #c5e699;
}

.dark-gold {
  --button_background: #be772b;
  --button_dark_shadow: #602c2c;
  --button_light_shadow: #e8c170;
}
.yellow {
  --button_background: rgb(236, 236, 87);
  --button_dark_shadow: rgb(167, 167, 3);
  --button_light_shadow: rgb(252, 252, 195);
}

.button2 {
  /* font-size: 1rem; */
  display: inline-block;
  /* padding: 0 calc(var(--border_width) * 2); */
  width: 5rem;
  /* z-index: 10; */
  /* overflow: visible; */
}
.button2 button {
  /*  font size and padding  */
  /* font-size: 1em; */
  line-height: 1.3em;
  /* padding: 0 calc(var(--button_padding) * 2); */
  width: 100%;
  height: var(--button_height);

  /*  colours  */
  background: var(--button_background);
  color: var(--text_color);

  /*  text  */
  font-family: var(--font);
  /* text-shadow: calc(var(--text_stroke) * -1) calc(var(--text_stroke) * -1) 0
      #000,
    var(--text_stroke) calc(var(--text_stroke) * -1) 0 #000,
    calc(var(--text_stroke) * -1) var(--text_stroke) 0 #000,
    var(--text_stroke) var(--text_stroke) 0 #000; */

  /*  border  */
  border: none;
  border-top: var(--border_width) solid var(--border_color);
  border-bottom: var(--border_width) solid var(--border_color);

  /*  box-shadow  */
  box-shadow: 0 calc(var(--border_width) * -1) var(--button_dark_shadow) inset,
    0 2.75px var(--button_light_shadow) inset;

  /*  cursor  */
  cursor: pointer;

  /*  position  */
  position: relative;
}

.button2 button:focus {
  outline: none;
}

.button2 button::after,
.button2 button::before {
  /*  content  */
  content: "";

  /*  dimensions  */
  /* width: 7rem; */
  height: calc(100% - var(--border_width) * 2);

  /*  colours  */
  background: var(--button_background);

  /*  border  */
  border-top: var(--border_width) solid var(--border_color);
  border-bottom: var(--border_width) solid var(--border_color);

  /*  box-shadow */
  box-shadow: 0 calc(var(--border_width) * -1) var(--button_dark_shadow) inset,
    0 var(--border_width) var(--button_light_shadow) inset;

  /*  positions  */
  position: absolute;
  top: 0;
}

.button2 button::after {
  right: calc(var(--border_width) * -0.8);
  border-right: var(--border_width) solid var(--border_color);
  height: 2.02rem;
  /* width: 3px; */
  /* position: absolute; */
}
.button2 button::before {
  left: calc(var(--border_width) * -0.8);
  border-left: var(--border_width) solid var(--border_color);
  height: 2.02rem;
  /* width: 3px; */
  /* position: absolute; */
}

.button2 button:active,
.button2 button:active::after,
.button2 button:active::before {
  box-shadow: none;
}

.button2 button.clicked {
  box-shadow: none;
  /* Add any other styles you want for the clicked state */
}
